@charset "utf-8";


* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, sans-serif; 
    line-height: 1.6; 
    color: #333;
}


a {
    text-decoration: none; 
    color: inherit;
}

ul, ol {list-style: none;}

img {
    max-width: 100%;
    height: auto;
}

html, body {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 1200px) {.container {width: 100%;}}
/* 창이 작아졌을 때 잘리는 것 방지하기 */

header {
    background: #2f2e2e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky; 
    /* sticky: 헤더가 스크롤 따라옴 */
    top: 0;
    /* 천장에 붙기 */
    z-index: 999;
    /* 헤더를 맨 위에 올려라 */
}

.header-top {
    background: #1a1a1a;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
}


.header-main {
    padding: 20px 0;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 30px;
    font-weight: 900;
    color: #ff007f;
    letter-spacing: -1px;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    display: block;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: #ff007f;
}


.station{
    /* border: 3px solid red; */
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.train{
    width: 400%;
    height: 100%;
    display: flex;
    
}

.train>li>img{
    width: 100%;;
    height: 100%;
    object-fit: cover;
    
}

.train>li{
    width: 25%; 
    height: 100%;
    flex: 1;
    position: relative;
}

.slide-content{
    position: absolute;
    top: 50%;          
    left: 50%;    
    transform: translate(-50%, -50%); 
    
    
    text-align: center;  
    width: 100%;         
    color: #fff;       
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    z-index: 10;
}

.bottom-banner {
    background: #222;
    padding: 40px 0;   
    text-align: center;
    border-top: 5px solid #ff007f; 
}

.bottom-banner .banner-text {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.bottom-banner .banner-sub {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
}


footer { 
    background: #181717; 
    color: #fff; 
    padding: 40px 0; 
    text-align: center; 
    margin-top: auto; 
}




.footer-links { 
    display: flex; 
    justify-content: center; 
    gap: 30px;
    margin-bottom: 20px; 
}

.footer-links a { 
    color: #fff; 
    font-size: 14px; 
}

.copyright { 
    font-size: 14px; 
    opacity: 0.8; }